.main{
  padding: 0;
  margin: 0px;
  height: 570px;
}
.container {
    height: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heading{
    margin: 0;
    padding-top: 0px;
    height:70px;
    color: white;
    background-color: black ;
  }

  .heading  h1{
 border-width: 10px;
  }
  .details{
    width: 200px;
    height: 20px;
    margin-top: 20px;
    border-radius: 6px;
}
.details:active,
  .details:focus{
    border-color: 2px soild red;
  }
  .head{
    text-align: center;
  }
  .form{
    padding: 30px;
    padding-top: 2px;
    background-color:rgb(50, 122, 205) ;
    border-radius: 15px ;
  }
 #label{
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
 
}
  
.button{
  display: inline-block;
  width: 205px;
  border-radius: 7px ;
  height: 30px;
}      
